/*
!.gitignore

!/etc/
/etc/*
!/etc/default/
!/etc/pulse/

!/usr/
/usr/*
!/usr/lib/
/usr/lib/*
!/usr/local
/usr/local/*
!/usr/local/bin
/usr/local/bin/*
!/usr/share
/usr/share/*
!/usr/share/applications
/usr/share/applications/*


# modules
!/etc/modprobe.d
/etc/modprobe.d/*

# systemd
!/usr/lib/systemd/
/usr/lib/systemd/*
!/usr/lib/systemd/system
/usr/lib/systemd/system/*

!/etc/systemd/
/etc/systemd/*
!/etc/systemd/system/
/etc/systemd/system/*
!/etc/systemd/system/multi-user.target.wants/
/etc/systemd/system/multi-user.target.wants/*
!/etc/systemd/system/suspend.target.wants/
/etc/systemd/system/suspend.target.wants/*
!/etc/systemd/system/hibernate.target.wants/
/etc/systemd/system/hibernate.target.wants/*
!/etc/systemd/system/hybrid-sleep.target.wants/
/etc/systemd/system/hybrid-sleep.target.wants/*
!/etc/systemd/system/timers.target.wants/
/etc/systemd/system/timers.target.wants/*

# Intel undervolt (https://github.com/kitsunyan/intel-undervolt)
# $ make && make install
# $ systemctl enable intel-undervolt
!/etc/intel-undervolt.conf
!/usr/lib/systemd/system/intel-undervolt.service
!/usr/lib/systemd/system/intel-undervolt-loop.service
!/etc/systemd/system/multi-user.target.wants/intel-undervolt.service
!/etc/systemd/system/suspend.target.wants/intel-undervolt.service
!/etc/systemd/system/hibernate.target.wants/intel-undervolt.service
!/etc/systemd/system/hybrid-sleep.target.wants/intel-undervolt.service


# Thermald
# $ dnf -y install thermald
# $ systemctl enable thermald
!/etc/thermald/
!/usr/lib/systemd/system/thermald.service
!/etc/systemd/system/dbus-org.freedesktop.thermald.service
!/etc/systemd/system/multi-user.target.wants/thermald.service


# TLP
# $ dnf -y install tlp
# $ dnf -y install http://repo.linrunner.de/fedora/tlp/repos/releases/tlp-release.fc$(rpm -E %fedora).noarch.rpm
# $ dnf -y install akmod-acpi_call smartmontools

!/etc/default/tlp
!/usr/lib/systemd/system/tlp.service
!/etc/systemd/system/multi-user.target.wants/tlp.service


# iwlwifi
!/etc/modprobe.d/iwlwifi.conf


# Intel i915 firmware
# $ grub2-mkconfig -o /boot/efi/EFI/fedora/grub.cfg
!/etc/default/grub

# Trim (auto on Fedora 32)
# $ sudo systemctl enable --now fstrim.timer
!/etc/systemd/system/timers.target.wants/fstrim.timer

# RPM fusion
# $ wget -P /tmp https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
# $ dnf -y localinstall /tmp/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
# $ wget -P /tmp https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
# $ dnf -y localinstall /tmp/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

# vaapi & mpv
# $ dnf -y install libva libva-intel-driver libva-vdpau-driver libva-utils
# $ dnf -y install mpv
!/usr/share/applications/mpv.desktop


# Custom init
!/usr/local/bin/tp-init
!/usr/lib/systemd/system/tp-init.service
!/etc/systemd/system/multi-user.target.wants/tp-init.service
!/etc/systemd/system/suspend.target.wants/tp-init.service
!/etc/systemd/system/hibernate.target.wants/tp-init.service
!/etc/systemd/system/hybrid-sleep.target.wants/tp-init.service


# Check is everything is there
# $ diff -rq . /|grep -v 'Only in /'
